<!DOCTYPE html>
<html lang="en">

<head>
    <title>GRELP</title>
    <!-- Font Awesome Icon Library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
    .checked {
        color: gold;
    }
    </style>
</head>

<body>
<% if @businesses.count == 0 %>
Error: No Businesses Found
<% else %>

<div class="container" style=" padding-top: 50px">
    <h2>Restaurants:</h2>
    <table class="table table-bordered table-hover">
        <thead class="thead-default">
            <tr>
                
                <% if(params["sort"].eql? "restaurantA") %>
                    <th><a href="/businesses?sort=restaurantZ">Restaurant Name</a></th>
                <% else %>
                    <th><a href="/businesses?sort=restaurantA">Restaurant Name</a></th>
                <% end %>
                
                <% if(params["sort"].eql? "ratingMax") %>
                    <th><a href="/businesses?sort=ratingMin">Rating</a></th>
                <% else %>
                    <th><a href="/businesses?sort=ratingMax">Rating</a></th>
                <% end %>
                
                 <% if(params["sort"].eql? "priceMin") %>
                    <th><a href="/businesses?sort=priceMax">Price</a></th>
                <% else %>
                    <th><a href="/businesses?sort=priceMin">Price</a></th>
                <% end %>
                
                <th><a href="/businesses">Open?</a></th>
            </tr>
        </thead>
        <tbody>
            <% @businesses["businesses"].each do |item| %>
                <tr>
                    <td><a href="/restaurant"><%= item["name"]  %></a></td>
                    <td> <%= CGI.unescapeHTML(item["rating"]).html_safe %></td>
                    <td><font color="#009933"><%= item["price"] %></font></td>
                    <td>Open Now</td>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>
<% end %>
</body>
</html>