<!DOCTYPE html>
<html lang="en">

<head>
    <title>GRELP</title>
</head>

<body>
<% if @businesses.count == 0 %>
Error: No Businesses Found
<% else %>
<div class="container">
    <h2>Restaurants:</h2>
    <table class="table table-bordered table-hover">
        <thead class="thead-default">
            <tr>
                <% @attributes.each do |items| %>
                       <th>
                           <%= items %>
                       </th>
                <% end %>
            </tr>
        </thead>
        <tbody>
            <% @businesses.each do |list| %>
                <tr>
                    <% list.each do |input| %>
                        <td>
                            <%= input %>
                        </td>
                    <% end %>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>
<% end %>
</body>
</html>