<!DOCTYPE html>
<html lang="en">

<head>
    <title>GRELP</title>
</head>

<body>
<% if @businesses.count == 0 %>
Error: No Businesses Found
<% else %>

<div class="container" style=" padding-top: 50px">
    <h2>Restaurants:</h2>
    <table class="table table-bordered table-hover">
        <thead class="thead-default">
            <tr>
                <th>Restaurant Name</th>
                <th>rating</th>
                <th>price</th>
                <th>Open?</th>
            </tr>
        </thead>
        <tbody>
            <% @businesses["businesses"].each do |item| %>
                <tr>
                    <td><a href=""><%= item["name"]  %></a></td>
                    <td><%= item["rating"] %></td>
                    <td><%= item["price"] %></td>
                    <td>Open Now</td>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>
<% end %>
</body>
</html>