<title>GRELP</title>
<% if @businesses.count == 0 %>
Error: No Businesses Found
<% else %>
<br>
<div class="container">
    <div class="card">
        <div class="card-header">
        Businesses Near You
        </div>
        <ul class="list-group list-group-flush">
            <% @businesses.each do |item| %>
                <li class="list-group-item list-group-item-action">
                    <%= item %>
                </li>
            <% end %>
        </ul>
    </div>
</div>
<% end %>
</body>