<title>GRELP</title>
<% if @businesses.count == 0 %>
Error: No Businesses Found
<% else %>
<br>
<div class="container">
    <h2>Resturants:</h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <% @attributes.each do |items| %>
                       <th>
                           <%= items %>
                       </th>
                <% end %>
            </tr>
        </thead>
    <tbody>
        <% @businesses.each do |list| %>
            <tr>
                <% list.each do |input| %>
                    <td>
                        <%= input %>
                    </td>
                <% end %>
            </tr>
        <% end %>
    </tbody>
    </table>
</div>
<% end %>
</body>