

<head>
  <script src="//maps.google.com/maps/api/js?v=3key=AIzaSyCMPe5C0yTvu9AGXdeFSD-AIwo5eilQUis"></script>
  <script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js" type='text/javascript'></script>
  <script src='//cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/infobox/src/infobox_packed.js' type='text/javascript'></script>
  <%= javascript_include_tag :application %>
</head>

<div style='width: 100%; height: 400px'>
  <div id="map" style='width: 100%; height: 100%;'></div>
</div>

<script>
  
  var handler = Gmaps.build('Google');
  var position = { lat: 104.8025, lng: 38.8943}; //Default User location is UCCS
  
  handler.buildMap({ internal: {id: 'map'} }, function(){
    // be aware chrome >= 50 requires https for geolocation to work
    if(navigator.geolocation){
      position = navigator.geolocation.getCurrentPosition();
    }
    displayUserOnMap(position);
    
    //Show UCCS and Zero
    var markers = handler.addMarkers([ { lat: 38.8943, lng: 104.8025}, { lat: 0, lng: 0 } ]);
    //handler.bounds.extendWith(markers);
    //handler.fitMapToBounds(); 
  });
  
  function displayMarkerOnMap(position){
    var marker = handler.addMarkers([ {
      lat: position.coords.latitude,
      lng: position.coords.logitude,
      picture: {
        url: "https://addons.cdn.mozilla.net/img/uploads/addon_icons/13/13028-64.png",
        width: 36,
        height: 36
      },
      infowindow: "Test Info Window"
    } ]); 
    
    //handler.bounds.extendWith(marker);
    //fitMapToBounds();
  }
  
  function displayUserOnMap(position){
    var marker = handler.addMarker({
      lat: position.coords.latitude,
      lng: position.coords.longitude
    });
    
    handler.map.centerOn(marker);
    fitMapToBounds();
  };
  
</script>