<!DOCTYPE html>
<html>
<head>
<title>Welcome to Grelp!</title>
</head>
<body>
<br>
<br>
<center><font size="64"><b> Welcome to Grelp! </b></font></center>
<br>
<center><font size="28"> Grelp is an aggregator for nearby restaurant reviews and their available coupons </font></center>
<br>
<br>
<center><a href="/home" class="btn btn-success btn-lg" role="button">Enter Grelp</a></center>
</body>
</html>