html {
  height: 100%;
}
body {
  min-height: 100%;
  margin: 0;
  padding: 0;
}
.bottom-bar {
  text-align: center;
  background-color:lightblue;
  /*
  vertical-align: middle;
  horizontal-align: middle;
  */
}